:root {
    // "Brand" colors
    // --color-brand-100: #f1faee;
    // --color-brand-200: #a8dadc;
    // --color-brand-300: #457b9d;
    // --color-brand-400: #1d3557;
    // --color-brand-action: #e63946;
    // --color-brand-action-2: #ff7d00;

    --color-brand-100: #00A3E0;
    --color-brand-200: #FF0080;
    --color-brand-200-active: #fd5bac;
    --color-brand-300: #362446;
    --color-brand-300-border: #471c6d;
    --color-brand-400: #282C34;

    // Neutral colors
    --color-neutral-white-1: #ffffff;
    --color-neutral-white-2: #f6f5f8;
    --color-neutral-white-3: #dddde4;

    --color-neutral-gray-1: #b4b4b9;
    --color-neutral-gray-2: #9d9da3;
    --color-neutral-gray-3: #808086;

    --box-shadow: 
        2px 2px 2px 0px rgba(0, 0, 0, 0.05),
        -2px -2px 2px 0px rgba(0, 0, 0, 0.05),
        -2px 2px 2px 0px rgba(0, 0, 0, 0.05),
        2px -2px 2px 0px rgba(0, 0, 0, 0.05);
    
    
}

@font-face {
    font-family: 'FiraSans';
    src: url('../assets/fonts/FiraSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('../assets/fonts/FiraSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('../assets/fonts/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('../assets/fonts/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('../assets/fonts/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('../assets/fonts/FiraSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('../assets/fonts/FiraSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('../assets/fonts/FiraSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('../assets/fonts/FiraSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'FiraSans', sans-serif;
}