.product-selector-wrapper {
    box-shadow: var(--box-shadow);
    margin: 16px;
    justify-self: center;
    border-radius: 8px;
    padding: 16px;
    min-width: 300px;
    width: 30vw;
    height: fit-content;
    
    @media (max-width: 845px) {
        width: calc(100% - 64px);
    }
}

.forms-title {
    color: var(--color-brand-400);
    justify-self: center;
}

.buttons-wrapper {
    display: flex;
    justify-content: flex-end;
}

.toggle-centered {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 8px;
}