.select-input {
    display: flex;
    flex-direction: column;
    padding: 8px;

    label {
        font-size: 12px;
        margin: 4px 0;
    }
    
    select {
        font-family: 'FiraSans', sans-serif;
        font-size: 14px;
        cursor: pointer;
        padding: 8px;
        border-radius: 8px;
        background-color: var(--color-neutral-white-1);
        border: 1px solid var(--color-neutral-white-3);
        appearance: none;
        -webkit-appearance: none; //safari
        -moz-appearance: none; //firefox

        &:focus {
            outline: 2px solid var(--color-brand-300);
        }

        option {
            cursor: pointer;
            padding: 8px 0;
        }
    }
}