.toggle-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.toggle-option {
    font-size: 14px;
    cursor: pointer;
    color: var(--color-neutral-gray-3);
    transition: color 0.3s;

    &.selected-new {
        color: var(--color-brand-200);
        font-weight: 600;
    }
    
    &.selected-used {
        color: var(--color-brand-300);
        font-weight: 600;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-brand-200);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-neutral-white-1);
    -webkit-transition: 400ms;
    transition: 400ms;
}

input:checked+.slider {
    background-color: var(--color-brand-300-border);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--color-brand-300-border);
}

input:checked+.slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
